/* ====== */
/* LAYOUT */
/* ====== */

body {
    width: 90vw;
    max-width: 960px;
    margin: 0 auto;
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ddd;
}

header {
    color: white;
    text-align: center;
}   

header nav ul {
    list-style: none;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    display: inline-block;
    padding: 10px;
}

main {
    clear: left;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 15px 15px;
}

.toc {
    float: right;
    color: white;
    max-width: 280px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px 10px;
}

p {
    clear: right;
}

footer {
    color: white;
    text-align: center;
}

/* ============== */
/* SECTION COLORS */
/* ============== */

html {
    background-color: #7b1d1d;
}

.html {
    background-color: #1c3177;
}

.css {
    background-color: #1d621d;
}

.hosting {
    background-color: #7a3f90;
}

.tutoring {
    background-color: #959846;
}

/* ========== */
/* TYPOGRAPHY */
/* ========== */

html {
    font-family: 'Open Sans', sans-serif;
}

small {
    display: none;
}