/* ====== */
/* LAYOUT */
/* ====== */

body {
    width: 90vw;
    max-width: 960px;
    margin: 0 auto;
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ddd;
}

header {
    color: white;
    text-align: center;
}   

header nav ul {
    list-style: none;
    height: 30px;
    margin: 0 auto;
}

header nav ul li {
    float: left;
    margin: 0 20px;
}

main {
    clear: left;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 15px 15px;
}

footer {
    color: white;
    text-align: center;
}

/* ============== */
/* SECTION COLORS */
/* ============== */

html {
    background-color: #7b1d1d;
}

.html {
    background-color: #1c3177;
}

.css {
    background-color: #1d621d;
}

.hosting {
    background-color: #7a3f90;
}

.tutoring {
    background-color: #c8d00e;
}

/* ========== */
/* TYPOGRAPHY */
/* ========== */

html {
    font-family: 'Open Sans', sans-serif;
}

small {
    display: none;
}