/* ====== */
/* LAYOUT */
/* ====== */

body {
    width: 90vw;
    max-width: 960px;
    margin: 0 auto;
    color: black;
}

/* ===== */
/* COLOR */
/* ===== */

html {
    background-color: #7b1d1d;
}

.html {
    background-color: #1c3177;
}

.css {
    background-color: #1d621d;
}

header {
    color: white;
}

main {
    background-color: rgba(255, 255, 255, 0.4);
}

footer {
    background-color: rgba(0,0,0, 0.2);
    color: white;
}

/* ========== */
/* TYPOGRAPHY */
/* ========== */

html {
    font-family: 'Open Sans', sans-serif;
}