<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} | {% endif %}{% if page.section %} {{ page.section }} | {% endif %} HTML &amp; CSS for Confused Students</title>
    <link rel="stylesheet" href="/sitecss/style.css" />
</head>
<body{% if page.section %} class="{{ page.section }}"{% endif %}>
    <header>
        <h1>HTML &amp; CSS for Confused Students</h1>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/html/">HTML</a></li>
            <li><a href="/css/">CSS</a></li>
            <li><a href="/tutoring">Tutoring</a></li>
        </nav>
    </header>
    
    <main>
    {{ content }}
    </main>
    
    <footer>
        <p>&copy; 2013 Andy Bell | <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a></p>
        <small class="license-info" style="display: none;"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">HTML & CSS for Confused Students</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.comm310.com" property="cc:attributionName" rel="cc:attributionURL">Andy Bell</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.andy-bell.com" rel="cc:morePermissions">http://www.andy-bell.com</a>.</small>
    </footer>
</body>
</html>